@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0px;
    padding: 0px;
}
.ProfileButton {
    width: 25rem !important;
    height: 4rem;
    background-color: #E5E8ED !important;
    color:#4D4B57 !important;
    border: 1px solid #E5E8ED !important;
    transition: all 0.3s ease-in-out;
}

.ProfileButton:hover {
    background-color: #4D4B57 !important;
    color: #E5E8ED !important;
}
