@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0px;
    padding: 0px;
}

.Balance-Comp {
    border: none !important;
    width: 109% !important;
    color: white;
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
    margin: 0px !important;
}

.Description-Section {

}

.Button-Section button {
    border-radius: 12px !important;
    width: 150px;
    border-color: rgba(255, 255, 255, 1) !important;
}

/* .Button-Balance {
    width: 150px;
    color: white;
    border: 1px solid white;
} */