@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
  font-family: "Nunito Sans", sans-serif !important;
}

.Wrapper-change h4 {
  font-weight: 700 !important;
}

.title-changeP p {
  font-weight: 200;
  color: grey;
  margin: 20px 0;
}

.form-changeP input {
  width: 40%;
  border: none;
  border-bottom: 1px solid;
  text-decoration: none !important;
}

.form-changeP button {
  width: 40%;
}

.card-wrapper {
  height: 100% !important;
}
