@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif !important;
}

.landingpage p{
    margin: 0 !important;
}

.landingpage .Wrapper{
    height: 100vh;
}

.btn-signup, .try {
    background-color: #6379F4 !important;
    border-color: none !important;
}

.btn-signup:hover {
    background-color: #fff !important;
    border: 1px solid #6379F4 !important;
    color: #6379F4 !important;
}

.landingpage .leftside{
    width: 40%;
}

.landingpage .logo{
    color: #6379F4;
    font-weight: 550;
    font-size: 30px;
    margin: 0;
    padding-left: 20%;
}

.landingpage img {
    margin-left: 12%;
    padding: 0 0 8% 0;
}

.logintab{
    float: right;
    margin-right: 30px ;
}

.logintab button{
    margin: 12px;
}

.landingpage h1{
    font-size: 60px !important;
}

.blue{
    color: #6379F4;
}

.try{
    margin: 30px 0;
}

.landingpage .logos{
    width: 35px;
    height: 35px;
}

.landingpage .phone{
    position: absolute;
    width: 300px ;
    height: 90vh ;
}

.landingpage .wave{
    position: absolute;
    width: 250px ;
    height: 80vh ;

}


/* logo */
.merk{
    margin: 0 auto;
    height: 150px;
    align-items: center;
    background: rgba(71, 58, 209, 0.06);
}

.merk .logos{
    margin: 0 30px;
    color: grey;
    width: 50px;
    height: 50px;
}


/* About */
.landingpage h2{
    font-weight: 750 !important;
}

.about .logos{
    background: rgba(71, 58, 209, 0.1);
    border-radius: 25px;
    padding: 10px;
    width: 45px;
    height: 45px;
}

.about .mid{
    box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15) !important;
    background: white;
    border-radius: 12px;
}


/* Feature */
.Wrapper-feature{
    height: 100vh;
    background: rgba(71, 58, 209, 0.06);
}

.Wrapper-feature p{
    font-weight: 700;
    font-size: 15px;
    width: 500px;
    background-color: white;
    border-radius: 12px;
    line-height: 40px;
    padding: 12px;
}

.Wrapper-feature img{
    margin-top: 10%;
}

.Wrapper-feature .rightside-feature{
    overflow: hidden;
    margin: auto;
}


.feature-explanation {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.feature-explanation:hover{
    -webkit-transform: translateX(10px) translateY(10px) translateZ(0px);
    -moz-transform: translateX(20px) translateY(20px) translateZ(0px);
    -ms-transform: translateX(20px) translateY(20px) translateZ(0px);
    -o-transform: translateX(20px) translateY(20px) translateZ(0px);
    transform:  translateX(20px) translateY(20px) translateZ(0px);
}

/* carousel */
.Wrapper-carousel{
    height: 80vh;
}

.carousel img{
    margin: 60px auto;
    width: 10%;
    height: auto;
}

.carousel p, h3{
    color: black;
}

.carousel-control-prev-icon{
    border-radius: 25px;
    background-color: black !important;
}

.carousel-control-next-icon{
    border-radius: 25px;
    background-color: black !important;
}

/*Copy Right*/
.Wrapper-rights{
    height: 50vh;
    color: white;
    background-color: #6379F4;
}

.Wrapper-rights h3{
    color: white;
}

.Wrapper-rights p{
    margin: 20px 0 !important;
}

@media screen and (max-width: 476px) {
    .landingpage img{
        display: none;
    }

    .landingpage h1{
        font-size: 45px !important;
    }
    
}

@media screen and (max-width: 770px) {
    .landingpage .rightside{
        margin: 21% 0 5% 0;
    }

    .landingpage .leftside{
        margin-left: -6%;
    }

    .landingpage .Wrapper{
        height: 85vh;
    }

    .landingpage .downside{
        margin-top: -12%;
    }

    .landingpage .Wrapper-feature img{
        margin: 0;
        position: relative;
        width: 300px;
        height: 450px;
        padding: 0;
    }

    .landingpage .Wrapper-feature .foto{
        display: flex;
        justify-content: center;
        height: 10%;
    }

    .landingpage .Wrapper-feature .rightside-feature{
        justify-content: center;
        display: grid;
        margin: auto;
    }

    .landingpage .Wrapper-carousel{
        height: 50vh;
    }

    .landingpage .Wrapper-carousel .row-carousel{
        height: 76%;
    }

    .landingpage .Wrapper-carousel .col-carousel{
        margin: auto;
    }

    .landingpage .Wrapper-carousel .carousel img{
        margin: 16% auto;
    }

}