* {
  margin: 0px;
  padding: 0px;
}

.Transaction-Comp {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.Button-History {
  text-decoration: none;
  color: #0275d8 !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.Button-History:hover {
  color: #0275d8 !important;
  text-shadow: 4px 4px 15px rgba(2, 117, 216, 0.6);
}
