.managenum-body{
    margin-left: -10px;
    justify-content: space-between;
}
.Delete-Button i {
    cursor: pointer;
}
.managenum-body i{
    font-size: 22px;
    cursor: pointer;
}
.btn-addphone {
    border-radius: 12px;
    background: #6379F4;
    border-color: transparent;
    color: white;
    width: 300px;
    height: 57px;
    margin-left: 2%;
}
.btn-addphonee {
    background: #6379F4 !important;
}