@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0px;
    padding: 0px;
}

.Chart-Comp {
  border: none !important;
  width: 100% !important;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
}
