@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif !important;
    margin: 0;
    padding: 0%;
}
.auth-wrapper {
    display: flex;
    height: 100vh;
    /* background: #f5f2f2; */
}
.auth-wrapper .left-section {
    width: 59%;
    background-image: url(../../../Assets/BGAuth.svg);
    background-position: center;
    background-size: cover;
}
.auth-wrapper .right-section {
    flex: 1;
}
.img-wave img {
    margin-top: 0.5%;
    position: fixed;
    width: 59%;
}
.phone-wrapper {
    display: flex;
    position: relative;
}
.phone-1 img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
    margin-left: 41%;
}
.phone-2 img {
    margin-top: 5%;
    width: 90%;
    height: 90%;
    position: relative;
    right: 21%;
}
.title-top {
    font-weight: 600;
    font-size: 30px;
    margin-left: 15%;
    top: 3%;
    color: white;
    position: relative;
}
.text-auth {
    margin-left: 15%;
    margin-top: -8%;
    color: white;
}
.title-bottom {
    font-size: 30px;
    font-weight: 600;
}
.text-auth p {
    text-align: justify;
    padding-right: 10%;
}


/* Responsive */
/* Mobile */
@media (max-width: 425px) {
    .auth-wrapper .left-section {
        display: none;
    }
}