@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0px;
    padding: 0px;
}

.Navbar-Section {
  width: 100% !important;
  border-radius: 0px 0px 25px 0px;
  -webkit-border-radius: 0px 0px 25px 0px;
  -moz-border-radius: 0px 0px 25px 0px;
  -ms-border-radius: 0px 0px 25px 0px;
  -o-border-radius: 0px 0px 25px 0px;
}

.Logo-Section {
  color: #0275d8 !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.Logo-Section:hover {
  text-shadow: 4px 4px 15px rgba(2, 117, 216, 0.6);
}

.UserNavbar-Section {
  width: 100% !important;
}

.ImgUser-Navbar {
  padding: 5px !important;
  margin: 0px !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}
.usernav-wrapper {
  margin-left: 15%;
}
.img-navbar {
  margin-top: -5%;
  width: 10%;
}
.bell-navbar {
  margin-top: -5%;
}
.infouser-nav h6{
  padding-top: 15%;
}
.infouser-nav p {
  padding-bottom: 20%;
}