@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0px;
    padding: 0px;
}

body {

}

.App {
    
}
.Data-User {
    align-items: flex-start !important;
  }
.container-home {
    /* border: 2px solid red; */
}
.Container-Section{
    
}
.history-wrapper {

}
.Sidebar-Section {

}

.Content-Section {
    
}

.Balance-Section {
    padding: 0px !important;
}

.Chart-Section {
    
}

.History-Section {
    
}