@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap");

* {
    font-family: "Nunito Sans", sans-serif !important;
    margin: 0px;
    padding: 0px;
}

.Sidebar-Comp {
  border: none !important;
  width: 100% !important;
  height: 106vh !important;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
}

.Navigation-Section {
  text-decoration: none;
  color: rgba(58, 61, 66, 0.8);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin-top: 5%;
}

.Navigation-Section:hover {
  color: #0275d8 !important;
  text-shadow: 4px 4px 15px rgba(2, 117, 216, 0.6);
  font-weight: bolder !important;
}

.Navigation-Section h5 {
  margin-top: 5%;
}
.logout {
  margin-top: 95%;
}